<div class="fav-feeder-wrap">
  <% if (favs.length) { %>
  <% for (let fav of favs) { %>

    <div class="fav-single" data-stopId=<%= fav.stopId %>>
      <span class="fav-line-name line-type-<%= fav.stopId[0] %>"><%= fav.stopId[0] %></span>

    <h2 class="station-name"><%= fav.stationName %></h2>
    <div class="times-wrapper"></div>
    </div>


  <% } %>
  <% } %>
</div>
