<div class="fav-feeder-wrap">
  <% if (favs.length) { %>
  <% for (let fav of favs) { %>

    <div class="fav-single" data-stopId=<%= fav.stopId %>>
      <span><%= fav.stopId[0] %></span><h4 class="stopname"><%= fav.stationName %></h4>

    <h2 class="stationName"><%= fav.stationName %></h2>
    <div class="times-wrapper"></div>
    </div>


  <% } %>
  <% } %>
</div>
