<nav>

  <a href="/" class="lock-up"><h1>Subway++</h1></a>

  <% if (tempLogin.length === 0) { %>
  <a href="/register" class="nav-control">register</a>
  <a href="/login" class="nav-control">login</a>
  <% } else { %>
  <a href="/logout" class="nav-control">log out</a>
  <h5 class="nav-control">Welcome, <span class="tempLogin"><%= tempLogin %></span></h5>
  <% } %>

</nav>
