<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
  </head>
  <body>

    <%- include partials/_navbar %>

    <div class="login-wrapper">

      <h1>Register</h1>
      <h4>Sign up to save your favorite stops for quick reference</h4>

      <form class="main-form" action="/register" method="post">
        <label>Username</label><br/><input type="text" name="username" value="" />
        <label>Password</label><br/><input type="password" name="password" value="" />
        <label>Email</label><br/><input type="text" name="email" value="" />
        <button type="submit" name="button">register</button>
      </form>

    </div>

  </body>
</html>
