<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <%- include partials/_navbar %>

      <h1>Register</h1>
      <h3>Sign up to save your favorite stops for quick reference</h3>

      <form class="" action="/register" method="post">
        <label>Username: </label><input type="text" name="username" value="" /><br/>
        <label>Password: </label><input type="password" name="password" value="" /><br/>
        <label>Email: </label><input type="text" name="email" value="" /><br/>
        <button type="submit" name="button">register</button>
      </form>
  </body>
</html>
